<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="Data Source=172.16.13.6;Initial Catalog=IMR_Test;User ID=sa;Password=passwd@12"/>
		<!--<add name="connect" connectionString="Data Source=172.16.10.42;Initial Catalog=IMR;User ID=sa;pwd=passwd@12" />-->
		<!--<add name="connect" connectionString="Data Source=183.87.70.10;Initial Catalog=Lms_Erp_Djunior; User ID=sa; pwd=passwd@12;" />-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Register.aspx"/>
				<!--<add value="Login.aspx"/>-->
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="API_KEY" value="742cbdde-c13a-4ec3-932a-766335c9b5ae"/>
		<add key="SALT" value="d7d6dbeb77faf650626bcbb69756caa07747474b"/>
		<add key="MODE" value="TEST"/>
		<add key="UATPAYMENTS_URL" value="https://pgbiz.omniware.in/v2/paymentrequest"/>
		<add key="RETURN_URL"  value="http://localhost:60419/testresponse.aspx"/>
		<add key="hashSequence" value="SALT|address_line_1|address_line_2|amount|api_key|city|country|currency|description|email|mode|name|order_id|phone|return_url|state|udf1|zip_code" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>
</configuration>
