<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="DataServer=db23904.databaseasp.net; Database=db23904; User Id=db23904; Password=8m?EiH5#P!f2; Encrypt=False; MultipleActiveResultSets=True;"/>
		<!--<add name="connect" connectionString="Data Source=172.16.10.42;Initial Catalog=IMR;User ID=sa;pwd=passwd@12" />-->
		<!--<add name="connect" connectionString="Data Source=183.87.70.10;Initial Catalog=Lms_Erp_Djunior; User ID=sa; pwd=passwd@12;" />-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Register.aspx"/>
				<!--<add value="Login.aspx"/>-->
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="API_KEY" value="fb6bca86-b429-4abf-a42f-824bdd29022e"/>
		<add key="SALT" value="80c67bfdf027da08de88ab5ba903fecafaab8f6d"/>
		<add key="MODE" value="TEST"/>
		<add key="UATPAYMENTS_URL" value="https://pgbiz.omniware.in/v2/paymentrequest"/>
		<add key="RETURN_URL"  value="http://applicantportal.runasp.net/Adm_Receipt.aspx"/>
		<add key="hashSequence" value="SALT|address_line_1|address_line_2|amount|api_key|city|country|currency|description|email|mode|name|order_id|phone|return_url|state|udf1|zip_code" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>
</configuration>
